<div id="open-menu" class="">
  <div class="menu-open-menu">
    <div id="category-menu" class="cursor-pointer log-out-button">
      <i class="material-icons">cancel</i>
    </div>
    {{#each user}}
    {{#if isGuest }}
    <div class="logout-container">
      <div class="user-parameters">
        <h4 class="font-green">{{name}}</h4>
        <p class="font-white">{{email}}</p>
      </div>
      <a href="authorization/logout">
        <div id="category-menu" class="cursor-pointer log-out-button">
          <i class="material-icons">logout</i>

        </div>
      </a>
    </div>
    {{/if}}
    {{else}}

    <div class="user-parameters">
      <p class="font-red acc-inf">Войдите в аккаунт</p>
      <a href="/authorization"><button class="btn-menu-absolute btn-green">
          Войти
        </button>
      </a>
    </div>

    {{/each}}
  </div>
  {{#each user}}
  {{#if isGuest }}
  <div class="svg-icons">
    <a href="" class="icons-container">
      <i class="material-icons pink-icon">favorite_border</i>
      <p class="font-white">Избранное</p>
    </a>
    <a href="admin/add-image" class="icons-container">
      <i class="material-icons green-icon">add_photo_alternate</i>
      <p class="font-white">Добавить фото</p>
    </a>

    <a href="" class="icons-container">
      <i class="material-icons blue-icon">settings</i>
      <p class="font-white">Настройки</p>
    </a>
  </div>
  {{/if}}
  {{/each}}
  <div class="text-icons-container">
    <p class="text-center font-green text-category-block">Выберите категорию</p>
  </div>
  <div class="category-container">
    <div id="category-menu" class="c-all">
      <h6>all</h6>
    </div>
    {{#each category}}
    <div id="category-menu" class="c-{{categoryName}}">
      <h6>{{categoryName}}</h6>
    </div>
    {{/each}}
  </div>


</div>

<nav class="menu">
  <div id="menu" class="cursor-pointer">
    <i class="material-icons">menu</i>

  </div>
  {{#each user}}
  {{#if isAdmin }}
  <div class="log-out-button">
    <a href="/admin"><i class="material-icons">settings</i>

    </a>
  </div>
  {{/if}}

  {{/each}}

</nav>