<div id="open-menu" class="">
  <div class="menu-open-menu">
    <div id="category-menu" class="cursor-pointer log-out-button">
      <i class="material-icons">cancel</i>
      <p><span>Закрыть</span></p>
    </div>
    {{#each user}}
    {{#if isGuest }}
    <div>
      <div class="user-parameters">
        <h4 class="font-green">{{name}}</h4>
        <p class="font-white">{{email}}</p>
      </div>
    </div>
    {{/if}}
    {{else}}

    <div class="user-parameters">
      <p class="font-red acc-inf">Войдите в аккаунт</p>
      <a href="/authorization"><button class="btn-menu-absolute btn-green">
          Войти
        </button>
      </a>
    </div>

    {{/each}}
  </div>
  <div class="svg-icons">
    <div class="icons-container">
      <i class="material-icons pink-icon">favorite_border</i>
      <p class="font-white">Избранное</p>

    </div>
    <div class="icons-container">
      <i class="material-icons green-icon">add_photo_alternate</i>
      <p class="font-white">Добавить фото</p>

    </div>
    <div class="icons-container">
      <i class="material-icons blue-icon">settings</i>
      <p class="font-white">Настройки</p>

    </div>
  </div>
  <div class="text-icons-container">
    <p class="text-center font-green text-category-block">Выберите категорию</p>
  </div>
  <div class="category-container">
    <div id="category-menu" class="c-all">
      <h6>all</h6>
    </div>
    {{#each category}}
    <div id="category-menu" class="c-{{categoryName}}">
      <h6>{{categoryName}}</h6>
    </div>
    {{/each}}
  </div>


</div>

<nav class="menu">
  <div id="menu" class="cursor-pointer">
    <i class="material-icons">menu</i>
    <p><span>Категории</span></p>
  </div>
  {{#each user}}
  {{#if isAdmin }}
  <div class="log-out-button">
    <a href="/admin"><i class="material-icons">settings</i>
      <p><span>Настроить</span></p>
    </a>
  </div>
  {{/if}}

  {{#if isGuest }}

  <div class="log-out-info">
    <div>
      <div class="user-parameters-adaptive">
        <h4 class="font-green">{{name}}</h4>
        <p class="font-white">{{email}}</p>
      </div>
    </div>
    <div class="log-out-button">
      <a href="/authorization/logout"><i class="material-icons">logout</i>
        <p><span>Выйти</span></p>
      </a>
    </div>

  </div>

  {{/if}}
  {{else}}


  <a href="/authorization"><button class="btn-menu btn-green">
      Войти
    </button>
  </a>

  {{/each}}

</nav>